services:
  - type: web
    name: hostel-finder-backend
    env: node
    plan: free
    rootDirectory: Backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    autoDeploy: false
